#image {
  width: 130px;
  height: auto;
}

.price {
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;  
}

#tags {
  font-size: 70%;
  border-radius: 40px;
  height: auto;
  width: auto;
  margin-right: 1rem;
}